<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Список модулей</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "base/index.css" %}" type="text/css">
  

</head>
<body>
  <form method="POST" >
    {% csrf_token %}
    <div class="parent">
      {% for module in modules %}
      <div class="module">
        <!-- Кнопки редактирования и удаления в углу плитки -->
        <div class="actions">
          <button type="submit" formaction="{% url 'edit_module' %}" name="edit_id" value="{{ module.id }}">✎</button>
          <button type="submit" formaction="{% url 'delete_module' %}" name="del_id" value="{{ module.id }}">✖</button>
        </div>
        <!-- Скрытый чекбокс для выбора модуля (value можно сделать id) -->
        <input type="checkbox" id="module-{{ module.id }}" name="selected_modules" value="{{ module.id }}">
        <!-- Метка, кликая по которой, переключается чекбокс и изменяется стиль плитки -->
        <label for="module-{{ module.id }}">{{ module.title }}</label>
      </div>
      {% endfor %}
      <!-- Плитка для добавления нового модуля -->
      <a href="{% url 'create_module' %}" class="add-module">Добавить модуль</a>
    </div>
    <!-- Кнопки для запуска теста или просмотра карточек -->
    <div class="buttons">
      <button type="submit" formaction="{% url 'start_test' %}" name="action" value="test">Тест</button>
      <button type="submit" formaction="{% url 'view_cards' %}" name="action" value="cards">Карточки</button>
    </div>
  </form>
</body>
</html>
